body {
    background-color: #ECEFF4;

}
/* header {
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
} */
.nav_header {
    background-color: #4C566A;
    text-transform: uppercase;
    text-indent: 10px;
    display: block;
    position: static;
    top: 0%;
    left: 0%;
    color: #D8DEE9;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    vertical-align: middle;
    padding: 0px;
    height: 50px;
    line-height: 50px;
}
a {
    color: #D8DEE9;
    text-decoration: none;
}
#new_meeting, #existing_meeting {
    text-align: center;
    padding: 10px;
    margin: 10px;
    line-height: 20px;
    background-color: #8FBCBB;
    color: #D8DEE9;
    width: 270px;
    align-items: center;
    border-radius: 30px;
    display:block;
    position:relative;
    left: 25%;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}