<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Pankoclub</title>
    <link rel="stylesheet" href="../public/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,900;1,400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="title_menu">
      <img
        src="../public/images/pankoclub_icon.png"
        alt="Sulcata tortoise icon"
      />
      <h1>Pankoclub</h1>
      <h2 id="talk">Talk</h2>
      <h2 id="club">Club</h2>
    </div>
    <div class="main_section">
      <p>Panko lives in Seattle WA</p>
    </div>
    <div class="posts">
      <p>Hyo Lee's story</p>
      <p>Panko Lee's story</p>
      <p>Doha Lee's story</p>
      <p>Hanna Lee's story</p>
    </div>
    <div class="bottom_container">
      <a href="placeholder">About Pankoclub</a><br />
      <a href="placeholder">Contact</a>
      <footer>© 2024 <i>Mr. Panko</i> All rights reserved</footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../index.js" charset="utf-8"></script>
  </body>
</html>
