body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: white;
}

.title_menu {
  padding: 20px;
  color: #3b4252;
  background-color: #fef7ec;
  display: flex;
  align-items: center;
}

.title_menu h1 {
  font-size: 2.8rem;
  font-weight: 900;
  padding: 0rem;
  margin: 0rem;
}

.title_menu h2 {
  /* background-color: black; */
  font-size: 1.8rem;
  font-weight: 400;
  padding: 0rem;
  margin: 0rem;
}

#talk {
  position: relative;
  left: 5rem;
}

#club {
  position: relative;
  left: 10rem;
}

.title_menu > img {
  height: 10rem;
}

.main_section {
  padding: 20px;
  font-size: x-large;
  color: #3b4252;
  height: 20rem;
}

.posts {
  display: flex;
  gap: 12rem;
  justify-content: center;
  padding: 20px;
  color: #5e81ac;
  font-weight: 200;
}

.bottom_container {
  margin-top: 0rem;
  padding: 30px;
  background-color: #fef7ec;
  height: 8rem;
}

.bottom_container a {
  color: #5e81ac;
}

footer {
  margin-top: 5rem;
  color: #3b4252;
}
